/* Write your CSS code here */
.header-bg-container {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  height: 50px;
}

.header-nav-container {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-left: 25px;
  color: #64748b;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
}
.logout-btn {
  background-color: #0967d2;
  font-weight: 18px;
  padding: 10px;
  cursor: pointer;
  font-family: Roboto;
  color: white;
  border-width: 0px;
  border-radius: 7px;
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 20px;
}
